# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
.vercel

# Visual Studio and .NET
.vs/
**/[Bb]in/
**/[Oo]bj/
*.user
*.suo
*.shell_history
*.userosscache
*.sln.docstates
.vs/
Backend/**/bin/
Backend/**/obj/
Backend/**/.vs/
**/Generated/
**/bin/
**/obj/
**/App_Data/
**/Logs/
**/node_modules/
