# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
.vercel

# Visual Studio / .NET
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
bin/
obj/
*.cache
*.dll
*.exe
*.pdb
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.DotSettings.user
.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
.vscode/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JetBrains Rider
.idea/
*.sln.iml

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# Entity Framework
*.edmx.diagram
*.edmx.sql

# Database
*.mdf
*.ldf
*.ndf

# Other
*.shell_history
Backend/**/bin/
Backend/**/obj/
Backend/**/.vs/
**/Generated/
**/App_Data/
**/Logs/
